.moves-list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    color: var(--dark-tile);
    flex: 0 0 auto;
    min-height: 4rem;
    max-height: 7rem;
    overflow-y: auto;
    font-size: 0.95rem;
    text-align: left;
    order: 1;
}

.moves-list div {
    flex-basis: 35%;
    padding-left: 15%;
    padding-bottom: 0.25rem;
    position: relative;
}

.moves-list div[data-number]:nth-child(odd)::before {
    content: attr(data-number);
    position: absolute;
    left: 0;
    opacity: 0.5;
}

@media (min-width: 768px) {
    .moves-list {
        order: 0;
        flex: 1 1 0;
        max-height: none;
    }
}
